<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap" rel="stylesheet">

    {% block additional_css %}{% endblock %}
    <link rel="stylesheet" href="/assets/style.css" />
    
    <link rel="stylesheet" href="/assets/pygments-light.css">
    <link rel="stylesheet" href="/assets/pygments-dark.css" disabled>
            
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
</head>

<body class="container {% block body_class %}{% endblock %}" {% block body_id %}{% endblock %}>        
    {% block navigation %}{% endblock %}
    
    {% block header %}{% endblock %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    {% block footer %}{% endblock %}
    
    <script src="/assets/theme-toggle.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
