{% extends "base.html" %}

{% block content %}
<main>
  <article>
    <h1>
      Abidin Durdu
    </h1>
    <p>
      <i>Welcome</i> to my blog. Check out the links above or read my posts below.
    </p>
    {% if posts %}
    <h2>
      Posts
    </h2>
    <div id="post-list-container">
      {% for post in posts %}
          <a class="post-link" href="{{post.url_path}}">
              {{post.title}}
          </a>
      {% endfor %}
    </div>
    {% else %}
    <h2>No posts</h2>
    {% endif %}
  </article>
</main>
{% endblock %}
