{% extends "base.html" %}

{% block content %}
    <main>
      <article id="post">
        {{content}}
      </article>
    </main>
{% endblock %}

{% block footer %}
<footer>
<div id="post-footer-container">
  <a href="#top">Top</a>
  <a href="mailto:{{author.email}}?subject=My comment on your post '{{title}}'">
      Leave a comment
  </a>
</div>
</footer>
{% endblock %}

{% block scripts %}
<script>
  const el = document.querySelector("#date-container > p");
  
  const raw = el.textContent.trim();
  const [day, month, year] = raw.split('-').map(Number);

  const date = new Date(year, month - 1, day);
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  el.textContent = date.toLocaleDateString('en-US', options);
</script>
{% endblock %}
