body {
    font-family: "Poly", serif;
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    /* text-align: justify; */
    line-height: 1.75;
    color: #101110;
    background-color: #f8fcb6;
    padding: clamp(1rem, 5vw, 4rem);
    margin-top: 1rem;
}

#about-container p {
    margin-left: 1rem;
    line-height: 1.55rem;
}

.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;
    }
}

a {
    color: #1929ff;
    overflow-wrap: anywhere;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    position: relative;
    padding: 0rem 0.1rem;
    width: max-content;
}

a:hover {
    color: #f8fcb6;
    background-color: #1929ff;
    transform: translateY(0);
}

a:focus, a:active {
    outline: none;
    color: #0a1ab4;
}

.account-link {
    display: block;
    margin: 1rem;
    overflow-wrap: anywhere;
}

.post {
    margin: 1rem;
    font-size: clamp(1.2rem, 3vw, 1.45rem);
}

#title {
    font-size: clamp(2rem, 8vw, 3.5rem);
}

.title-container h2 {
    font-size: clamp(1.5rem, 5vw, 2.4rem);
    margin-top: clamp(1rem, 3vw, 2rem);
}

.date {
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .post + .date {
        margin-left: 0;
    }
    
    #accounts-container > div, #posts-container > div {
        margin-bottom: 1rem;
    }
}
